.player-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(62, 60, 87);
  display: flex;

  justify-content: space-between;
}
.player-container section {
  height: 100%;

  color: rgb(201, 192, 233);
}

.player-state-message {
  margin: auto;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.player-state-controllers {
  display: flex;
  align-items: center;
  position: absolute;
  left: 43%;
}

.player-state-control {
  cursor: pointer;
  margin: 0 0.8em 0;
}

.player-track-info {
  margin-left: -100;
  line-height: 1.2em;
  padding: 0.5em;
  color: rgba(201, 192, 233, 0.8);
}

.player-track-info .bold {
  font-weight: 700;
}
