.player-container {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(62, 60, 87);
}

.player-container section {
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(201, 192, 233);
  align-items: center;
}

.player-state-control {
  cursor: pointer;
  margin: 0 0.8em 0;
}
