.tracks-table-container {
  height: 100%;
}
.tracks-table {
  text-align: left;
  height: 20px;
  margin: 0px auto;
  /* background-color: rgba(2, 0, 11, 0.687); */
}

.tracks-table td,
.tracks-table th {
  color: rgb(240, 226, 226);
  font-weight: bold;

  padding: 12px;
}

.tracks-data {
  width: 100px;
}

.tracks-data {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tracks-data:hover {
  background-color: rgb(81, 73, 109);
  cursor: pointer;
  box-shadow: 0 0px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.tracks-table th {
  background-color: rgba(28, 27, 40, 0.5);
}
