/* .tracks-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
} */

.tracks {
  max-height: 400px;
  overflow: auto;
}

.track {
  color: #1d1a1a88;
  font-family: Poppins;
  font-weight: bold;
}

.track-info {
  display: grid;
  grid-template-columns: ;
}
